/* * {
  border: 1px solid rgb(224, 224, 224);
  margin: 1px;
} */
* {
  box-sizing: border-box
}
.App {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
}

.input-form {
  width: 50%;
}
.card-container {
 margin-top: 10px;
}

.degrees {
 line-height: 4rem;
 font-size: 4rem;
 font-weight: bold;
 color: black;
}

.error {
  margin-top: 10px;
}

.weather-string{
  font-style: italic;
  color: gray;
}

.favs {
  margin: 10px;
  outline: none;
}
div.block.favs {
  margin-bottom: 0px;
}
span.tag.light {
  cursor: pointer
}
span.tag.light:hover {
  background-color: rgb(224, 224, 224);
}
.favs span {
  margin: 5px;
}